In [1]:
# importing the required libraries
import numpy as np
import pandas as pd

In [2]:
# opening the file
with open('C:/Users/babli/OneDrive/Desktop/MAPUP/access_log', 'r', encoding='utf-8', errors='ignore') as file:
    lines = file.readlines()

In [3]:
# printing few lines of the data
for line in lines[:5]:
    print(line.strip())

local - - [24/Oct/1994:13:41:41 -0600] "GET index.html HTTP/1.0" 200 150
local - - [24/Oct/1994:13:41:41 -0600] "GET 1.gif HTTP/1.0" 200 1210
local - - [24/Oct/1994:13:43:13 -0600] "GET index.html HTTP/1.0" 200 3185
local - - [24/Oct/1994:13:43:14 -0600] "GET 2.gif HTTP/1.0" 200 2555
local - - [24/Oct/1994:13:43:15 -0600] "GET 3.gif HTTP/1.0" 200 36403

In [4]:
# importing re for regex
import re

data = []

# Regular expression pattern for standard Common Log Format (CLF) 
# local - - [24/Oct/1994:13:41:41 -0600] "GET index.html HTTP/1.0" 200 150

pattern = r'(\S+) (\S+) (\S+) \[(.*?)\] "(.*?)" (\d{3}) (\d+)'

for line in lines:
    match = re.match(pattern, line)
    if match:
        host = match.group(1)
        rfc931 = match.group(2)
        authuser = match.group(3)
        timestamp = match.group(4)
        filename = match.group(5)  # includes method, file, protocol
        http_code = match.group(6)
        bytes_sent = match.group(7)

        data.append([host, rfc931, authuser, timestamp, filename, http_code, bytes_sent])

# Create a DataFrame
df = pd.DataFrame(data, columns=['host', 'rfc931', 'authuser', 'timestamp', 'filename', 'http_code', 'bytes'])

# Display the first few rows
df.head()

,host,rfc931,authuser,timestamp,filename,http_code,bytes
0,local,-,-,24/Oct/1994:13:41:41 -0600,GET index.html HTTP/1.0,200,150
1,local,-,-,24/Oct/1994:13:41:41 -0600,GET 1.gif HTTP/1.0,200,1210
2,local,-,-,24/Oct/1994:13:43:13 -0600,GET index.html HTTP/1.0,200,3185
3,local,-,-,24/Oct/1994:13:43:14 -0600,GET 2.gif HTTP/1.0,200,2555
4,local,-,-,24/Oct/1994:13:43:15 -0600,GET 3.gif HTTP/1.0,200,36403

In [5]:
df.shape

(666804, 7)

In [6]:
# checking unique values for all the columns
for col in df.columns:
    print(f"column name : {col},\n unique records: ", df[col].unique())
    print('=' * 50,'\n')

column name : host,
 unique records:  ['local' 'remote']
==================================================

column name : rfc931,
 unique records:  ['-']
==================================================

column name : authuser,
 unique records:  ['-' 'Villain']
==================================================

column name : timestamp,
 unique records:  ['24/Oct/1994:13:41:41 -0600' '24/Oct/1994:13:43:13 -0600'
 '24/Oct/1994:13:43:14 -0600' ... '11/Oct/1995:14:11:39 -0600'
 '11/Oct/1995:14:11:40 -0600' '11/Oct/1995:14:14:17 -0600']
==================================================

column name : filename,
 unique records:  ['GET index.html HTTP/1.0' 'GET 1.gif HTTP/1.0' 'GET 2.gif HTTP/1.0' ...
 'GET 12178.gif HTTP/1.0' 'GET 11624.html HTTP/1.0'
 'GET 12179.gif HTTP/1.0']
==================================================

column name : http_code,
 unique records:  ['200' '304' '302' '500' '403']
==================================================

column name : bytes,
 unique records:  ['150' '1210' '3185' ... '144236' '116823' '11027']
==================================================

In [7]:
df["timestamp"].unique()

array(['24/Oct/1994:13:41:41 -0600', '24/Oct/1994:13:43:13 -0600',
       '24/Oct/1994:13:43:14 -0600', ..., '11/Oct/1995:14:11:39 -0600',
       '11/Oct/1995:14:11:40 -0600', '11/Oct/1995:14:14:17 -0600'],
      dtype=object)

In [8]:
from datetime import datetime

# Removing timezone while parsing
df['timestamp'] = df['timestamp'].apply(lambda x: datetime.strptime(x.split(' ')[0], '%d/%b/%Y:%H:%M:%S'))
df['timestamp']

0        1994-10-24 13:41:41
1        1994-10-24 13:41:41
2        1994-10-24 13:43:13
3        1994-10-24 13:43:14
4        1994-10-24 13:43:15
                 ...
666799   1995-10-11 14:10:59
666800   1995-10-11 14:11:38
666801   1995-10-11 14:11:39
666802   1995-10-11 14:11:40
666803   1995-10-11 14:14:17
Name: timestamp, Length: 666804, dtype: datetime64[ns]

In [9]:
df["timestamp"].unique()

<DatetimeArray>
['1994-10-24 13:41:41', '1994-10-24 13:43:13', '1994-10-24 13:43:14',
 '1994-10-24 13:43:15', '1994-10-24 13:43:17', '1994-10-24 13:46:45',
 '1994-10-24 13:46:47', '1994-10-24 13:46:50', '1994-10-24 13:47:19',
 '1994-10-24 13:47:41',
 ...
 '1995-10-11 14:07:28', '1995-10-11 14:07:30', '1995-10-11 14:09:41',
 '1995-10-11 14:10:57', '1995-10-11 14:10:58', '1995-10-11 14:10:59',
 '1995-10-11 14:11:38', '1995-10-11 14:11:39', '1995-10-11 14:11:40',
 '1995-10-11 14:14:17']
Length: 561746, dtype: datetime64[ns]

In [10]:
df["filename"].unique()

array(['GET index.html HTTP/1.0', 'GET 1.gif HTTP/1.0',
       'GET 2.gif HTTP/1.0', ..., 'GET 12178.gif HTTP/1.0',
       'GET 11624.html HTTP/1.0', 'GET 12179.gif HTTP/1.0'], dtype=object)

In [11]:
#checking the quantum of null values corresponding to every columns 
df.isnull().sum()

host         0
rfc931       0
authuser     0
timestamp    0
filename     0
http_code    0
bytes        0
dtype: int64

In [12]:
# replacing "-" with unavailable for column "rfc931"
df['rfc931'] = df['rfc931'].replace("-", "unavailable").astype(str)

In [13]:
# replacing "-" with not authenticated for column "authuser"
df['authuser'] = df['authuser'].replace("-", "not authenticated").astype(str)

In [14]:
# checking the uniqueness of column "rfc931"
df['rfc931'].unique()

array(['unavailable'], dtype=object)

In [15]:
# checking the uniqueness of column "authuser"
df['authuser'].unique()

array(['not authenticated', 'Villain'], dtype=object)

In [16]:
# final check of unique records of columns
for col in df.columns:
    print(f"column name : {col},\n unique records: ", df[col].unique())
    print('=' * 50,'\n')

column name : host,
 unique records:  ['local' 'remote']
==================================================

column name : rfc931,
 unique records:  ['unavailable']
==================================================

column name : authuser,
 unique records:  ['not authenticated' 'Villain']
==================================================

column name : timestamp,
 unique records:  <DatetimeArray>
['1994-10-24 13:41:41', '1994-10-24 13:43:13', '1994-10-24 13:43:14',
 '1994-10-24 13:43:15', '1994-10-24 13:43:17', '1994-10-24 13:46:45',
 '1994-10-24 13:46:47', '1994-10-24 13:46:50', '1994-10-24 13:47:19',
 '1994-10-24 13:47:41',
 ...
 '1995-10-11 14:07:28', '1995-10-11 14:07:30', '1995-10-11 14:09:41',
 '1995-10-11 14:10:57', '1995-10-11 14:10:58', '1995-10-11 14:10:59',
 '1995-10-11 14:11:38', '1995-10-11 14:11:39', '1995-10-11 14:11:40',
 '1995-10-11 14:14:17']
Length: 561746, dtype: datetime64[ns]
==================================================

column name : filename,
 unique records:  ['GET index.html HTTP/1.0' 'GET 1.gif HTTP/1.0' 'GET 2.gif HTTP/1.0' ...
 'GET 12178.gif HTTP/1.0' 'GET 11624.html HTTP/1.0'
 'GET 12179.gif HTTP/1.0']
==================================================

column name : http_code,
 unique records:  ['200' '304' '302' '500' '403']
==================================================

column name : bytes,
 unique records:  ['150' '1210' '3185' ... '144236' '116823' '11027']
==================================================

In [17]:
# Step 1: Getting path from request
df['request_path'] = df['filename'].apply(
    lambda x: x.split()[1] if isinstance(x, str) and len(x.split()) > 1 else 'none'
)

# Step 2: Extracting extension from path
df['file_extension'] = df['request_path'].str.extract(r'\.([a-zA-Z0-9]+)$')

In [18]:
# counting unique value of column file extension
df['file_extension'].value_counts()

file_extension
html       296858
gif        290721
jpg         41641
xbm         15905
ps           5461
            ...
test            1
nanda           1
human           1
cheryl          1
meeting         1
Name: count, Length: 132, dtype: int64

In [19]:
# converting the data type appropriately

df['http_code'] = df['http_code'].astype(int)
df['bytes'] = df['bytes'].astype(int)
df['file_extension'] = df['file_extension'].fillna('unknown').astype(str)
df['filename'] = df['filename'].astype(str)

In [20]:
# checking the overall information of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666804 entries, 0 to 666803
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   host            666804 non-null  object
 1   rfc931          666804 non-null  object
 2   authuser        666804 non-null  object
 3   timestamp       666804 non-null  datetime64[ns]
 4   filename        666804 non-null  object
 5   http_code       666804 non-null  int32
 6   bytes           666804 non-null  int32
 7   request_path    666804 non-null  object
 8   file_extension  666804 non-null  object
dtypes: datetime64[ns](1), int32(2), object(6)
memory usage: 40.7+ MB

In [21]:
#checking null values
df.isnull().sum()

host              0
rfc931            0
authuser          0
timestamp         0
filename          0
http_code         0
bytes             0
request_path      0
file_extension    0
dtype: int64

In [22]:
df.head()

,host,rfc931,authuser,timestamp,filename,http_code,bytes,request_path,file_extension
0,local,unavailable,not authenticated,1994-10-24 13:41:41,GET index.html HTTP/1.0,200,150,index.html,html
1,local,unavailable,not authenticated,1994-10-24 13:41:41,GET 1.gif HTTP/1.0,200,1210,1.gif,gif
2,local,unavailable,not authenticated,1994-10-24 13:43:13,GET index.html HTTP/1.0,200,3185,index.html,html
3,local,unavailable,not authenticated,1994-10-24 13:43:14,GET 2.gif HTTP/1.0,200,2555,2.gif,gif
4,local,unavailable,not authenticated,1994-10-24 13:43:15,GET 3.gif HTTP/1.0,200,36403,3.gif,gif

# Part 2: Analysis Questions (5 marks each)

### Q1: Count of total log records

In [23]:
total_log_records = len(df)
print(total_log_records)

666804

## Q2: Count of unique hosts

In [24]:
df['host'].nunique()

2

## Q3: Date-wise unique filename counts

In [25]:
# Group by date and count unique filenames per date
df['date_format'] = df['timestamp'].dt.strftime('%d-%b-%Y')
unique_filenames_per_date =dict(df.groupby('date_format')['filename'].nunique().sort_values(ascending = False))
unique_filenames_per_date

{'15-Mar-1995': 900,
 '04-Oct-1995': 879,
 '12-Apr-1995': 847,
 '05-Apr-1995': 844,
 '06-Oct-1995': 835,
 '26-Sep-1995': 831,
 '02-Oct-1995': 828,
 '29-Mar-1995': 827,
 '03-Oct-1995': 825,
 '10-Oct-1995': 823,
 '13-Mar-1995': 818,
 '28-Sep-1995': 818,
 '05-Oct-1995': 814,
 '30-Mar-1995': 813,
 '29-Sep-1995': 805,
 '27-Sep-1995': 798,
 '11-Apr-1995': 795,
 '28-Mar-1995': 794,
 '20-Sep-1995': 793,
 '27-Mar-1995': 789,
 '04-Apr-1995': 775,
 '10-May-1995': 770,
 '15-Feb-1995': 769,
 '02-Aug-1995': 766,
 '14-Mar-1995': 757,
 '21-Sep-1995': 749,
 '09-May-1995': 749,
 '03-Apr-1995': 747,
 '21-Mar-1995': 744,
 '09-Oct-1995': 732,
 '08-Sep-1995': 731,
 '10-Apr-1995': 728,
 '13-Sep-1995': 728,
 '07-Mar-1995': 724,
 '09-Mar-1995': 722,
 '23-Mar-1995': 721,
 '07-Apr-1995': 715,
 '25-Sep-1995': 713,
 '11-Oct-1995': 709,
 '19-Sep-1995': 707,
 '07-May-1995': 707,
 '31-Mar-1995': 707,
 '11-Sep-1995': 691,
 '10-Feb-1995': 690,
 '14-Sep-1995': 686,
 '14-Feb-1995': 684,
 '02-May-1995': 681,
 '19-Apr-1995': 678,
 '21-Apr-1995': 676,
 '15-Sep-1995': 675,
 '12-Sep-1995': 674,
 '07-Feb-1995': 673,
 '22-Feb-1995': 671,
 '09-Feb-1995': 669,
 '10-Mar-1995': 668,
 '04-Aug-1995': 667,
 '08-May-1995': 664,
 '04-May-1995': 661,
 '20-Mar-1995': 657,
 '06-Apr-1995': 656,
 '09-Aug-1995': 654,
 '23-Aug-1995': 643,
 '06-Jun-1995': 641,
 '16-Feb-1995': 634,
 '21-Jul-1995': 631,
 '13-Feb-1995': 630,
 '10-Aug-1995': 625,
 '08-Jun-1995': 625,
 '28-Apr-1995': 624,
 '08-Mar-1995': 623,
 '01-Aug-1995': 622,
 '18-Sep-1995': 620,
 '30-Sep-1995': 620,
 '08-Aug-1995': 617,
 '06-Mar-1995': 614,
 '22-Jun-1995': 613,
 '06-Feb-1995': 611,
 '21-Jun-1995': 611,
 '26-Jun-1995': 611,
 '08-Feb-1995': 604,
 '21-Aug-1995': 603,
 '23-Feb-1995': 599,
 '03-May-1995': 598,
 '27-Apr-1995': 597,
 '31-Jul-1995': 597,
 '22-Sep-1995': 594,
 '26-Apr-1995': 594,
 '04-Jul-1995': 589,
 '19-Jun-1995': 586,
 '25-Aug-1995': 584,
 '05-Jul-1995': 584,
 '09-Apr-1995': 583,
 '01-Feb-1995': 582,
 '16-Mar-1995': 581,
 '05-May-1995': 581,
 '25-Mar-1995': 581,
 '07-Aug-1995': 579,
 '26-Jul-1995': 578,
 '22-Mar-1995': 577,
 '02-Mar-1995': 577,
 '13-Apr-1995': 576,
 '11-May-1995': 576,
 '25-Jun-1995': 573,
 '01-Jun-1995': 572,
 '24-Sep-1995': 571,
 '24-Aug-1995': 564,
 '27-Jul-1995': 560,
 '25-Jul-1995': 560,
 '03-Aug-1995': 559,
 '01-Mar-1995': 558,
 '15-May-1995': 557,
 '11-Jul-1995': 557,
 '30-Aug-1995': 556,
 '20-Apr-1995': 555,
 '07-Sep-1995': 554,
 '14-Jun-1995': 552,
 '28-Jun-1995': 548,
 '25-Apr-1995': 548,
 '18-Jul-1995': 547,
 '23-May-1995': 544,
 '04-Feb-1995': 544,
 '16-Sep-1995': 543,
 '31-May-1995': 542,
 '23-Jun-1995': 541,
 '03-Feb-1995': 539,
 '30-Jan-1995': 539,
 '28-Jul-1995': 538,
 '14-Aug-1995': 538,
 '20-Jul-1995': 536,
 '14-Jul-1995': 533,
 '24-Jul-1995': 533,
 '01-Oct-1995': 528,
 '06-Sep-1995': 527,
 '17-Aug-1995': 526,
 '18-Feb-1995': 526,
 '17-Feb-1995': 523,
 '17-Jul-1995': 523,
 '30-May-1995': 523,
 '16-Jun-1995': 520,
 '28-Aug-1995': 519,
 '20-Jun-1995': 519,
 '08-Apr-1995': 515,
 '26-Mar-1995': 512,
 '27-Feb-1995': 510,
 '12-Jun-1995': 509,
 '24-Apr-1995': 507,
 '16-Aug-1995': 506,
 '18-May-1995': 505,
 '22-Aug-1995': 505,
 '27-Jun-1995': 504,
 '24-Feb-1995': 503,
 '08-Oct-1995': 503,
 '06-Jul-1995': 502,
 '02-Feb-1995': 502,
 '03-Mar-1995': 499,
 '31-Aug-1995': 498,
 '02-Jun-1995': 495,
 '24-Mar-1995': 495,
 '29-Aug-1995': 495,
 '28-Feb-1995': 494,
 '17-May-1995': 493,
 '06-May-1995': 491,
 '17-Mar-1995': 489,
 '31-Jan-1995': 485,
 '20-Feb-1995': 484,
 '10-Jul-1995': 484,
 '20-Jan-1995': 482,
 '23-Sep-1995': 482,
 '19-May-1995': 481,
 '13-Jul-1995': 481,
 '12-Feb-1995': 480,
 '05-Jun-1995': 480,
 '18-Aug-1995': 476,
 '12-Mar-1995': 475,
 '05-Aug-1995': 471,
 '07-Jun-1995': 470,
 '24-May-1995': 469,
 '05-Feb-1995': 469,
 '19-Jan-1995': 460,
 '05-Mar-1995': 460,
 '19-Jul-1995': 460,
 '29-Jun-1995': 459,
 '25-May-1995': 458,
 '22-May-1995': 457,
 '17-Sep-1995': 456,
 '11-Mar-1995': 455,
 '13-Jun-1995': 455,
 '23-Jul-1995': 455,
 '29-May-1995': 454,
 '13-Aug-1995': 454,
 '15-Jun-1995': 454,
 '01-May-1995': 454,
 '12-May-1995': 453,
 '15-Aug-1995': 453,
 '09-Jun-1995': 451,
 '30-Jul-1995': 450,
 '25-Feb-1995': 449,
 '11-Aug-1995': 448,
 '12-Jul-1995': 445,
 '30-Jun-1995': 443,
 '17-Nov-1994': 439,
 '29-Apr-1995': 438,
 '02-Apr-1995': 436,
 '29-Nov-1994': 436,
 '21-Feb-1995': 435,
 '06-Aug-1995': 434,
 '10-Sep-1995': 434,
 '18-Apr-1995': 431,
 '27-Jan-1995': 431,
 '03-Nov-1994': 431,
 '27-Aug-1995': 429,
 '22-Jul-1995': 428,
 '03-Jul-1995': 424,
 '07-Oct-1995': 423,
 '22-Apr-1995': 423,
 '12-Jan-1995': 422,
 '16-Jan-1995': 421,
 '16-Apr-1995': 420,
 '17-Apr-1995': 419,
 '16-May-1995': 416,
 '07-Jul-1995': 416,
 '26-May-1995': 414,
 '23-Jan-1995': 414,
 '13-Jan-1995': 410,
 '02-Nov-1994': 410,
 '24-Jan-1995': 410,
 '01-Apr-1995': 408,
 '05-Sep-1995': 408,
 '18-Mar-1995': 407,
 '25-Jan-1995': 406,
 '15-Apr-1995': 404,
 '18-Nov-1994': 403,
 '28-Jan-1995': 397,
 '01-Nov-1994': 393,
 '04-Mar-1995': 391,
 '13-Dec-1994': 388,
 '26-Aug-1995': 388,
 '09-Sep-1995': 387,
 '24-Jun-1995': 386,
 '04-Nov-1994': 384,
 '12-Dec-1994': 382,
 '07-Nov-1994': 382,
 '20-Aug-1995': 382,
 '03-Jun-1995': 381,
 '07-Dec-1994': 378,
 '17-Jun-1995': 375,
 '26-Feb-1995': 374,
 '18-Jan-1995': 374,
 '28-Oct-1994': 373,
 '16-Dec-1994': 372,
 '26-Jan-1995': 371,
 '16-Nov-1994': 369,
 '15-Jul-1995': 369,
 '27-Oct-1994': 365,
 '19-Aug-1995': 363,
 '10-Jan-1995': 362,
 '19-Feb-1995': 360,
 '17-Jan-1995': 359,
 '11-Jan-1995': 355,
 '29-Jan-1995': 355,
 '09-Dec-1994': 355,
 '24-Nov-1994': 354,
 '18-Jun-1995': 352,
 '02-Sep-1995': 351,
 '11-Feb-1995': 350,
 '14-Apr-1995': 350,
 '22-Nov-1994': 350,
 '09-Jan-1995': 348,
 '02-Jul-1995': 347,
 '19-Dec-1994': 346,
 '04-Jun-1995': 345,
 '30-Nov-1994': 345,
 '10-Nov-1994': 342,
 '19-Mar-1995': 341,
 '31-Oct-1994': 339,
 '26-Oct-1994': 339,
 '21-Nov-1994': 335,
 '08-Dec-1994': 334,
 '04-Sep-1995': 334,
 '28-Nov-1994': 330,
 '12-Aug-1995': 330,
 '05-Dec-1994': 327,
 '09-Nov-1994': 327,
 '04-Jan-1995': 326,
 '01-Sep-1995': 321,
 '10-Jun-1995': 319,
 '18-Dec-1994': 317,
 '25-Nov-1994': 316,
 '14-May-1995': 316,
 '23-Apr-1995': 316,
 '02-Dec-1994': 313,
 '23-Nov-1994': 312,
 '29-Jul-1995': 311,
 '20-Dec-1994': 309,
 '15-Nov-1994': 309,
 '14-Nov-1994': 303,
 '01-Jul-1995': 299,
 '25-Oct-1994': 298,
 '06-Dec-1994': 297,
 '03-Jan-1995': 297,
 '11-Jun-1995': 293,
 '17-Dec-1994': 287,
 '11-Nov-1994': 286,
 '16-Jul-1995': 286,
 '14-Dec-1994': 286,
 '29-Oct-1994': 286,
 '13-May-1995': 284,
 '21-May-1995': 279,
 '15-Dec-1994': 276,
 '22-Jan-1995': 273,
 '30-Apr-1995': 272,
 '08-Jul-1995': 271,
 '21-Dec-1994': 265,
 '01-Dec-1994': 263,
 '08-Nov-1994': 262,
 '22-Dec-1994': 255,
 '05-Jan-1995': 253,
 '20-Nov-1994': 253,
 '21-Jan-1995': 253,
 '30-Oct-1994': 245,
 '20-May-1995': 238,
 '27-May-1995': 238,
 '24-Oct-1994': 226,
 '09-Jul-1995': 226,
 '26-Nov-1994': 217,
 '06-Nov-1994': 211,
 '03-Sep-1995': 208,
 '08-Jan-1995': 205,
 '15-Jan-1995': 204,
 '04-Dec-1994': 203,
 '06-Jan-1995': 200,
 '11-Dec-1994': 198,
 '28-May-1995': 193,
 '27-Dec-1994': 192,
 '05-Nov-1994': 189,
 '19-Nov-1994': 189,
 '14-Jan-1995': 183,
 '27-Nov-1994': 181,
 '23-Dec-1994': 175,
 '03-Dec-1994': 173,
 '13-Nov-1994': 166,
 '12-Nov-1994': 161,
 '07-Jan-1995': 154,
 '10-Dec-1994': 151,
 '02-Jan-1995': 138,
 '30-Dec-1994': 128,
 '28-Dec-1994': 125,
 '29-Dec-1994': 124,
 '26-Dec-1994': 98,
 '31-Dec-1994': 91,
 '01-Jan-1995': 86,
 '25-Dec-1994': 66,
 '24-Dec-1994': 61}

## Q4: Number of 404 response codes

In [26]:
count_404 = df[df['http_code'] == 404].shape[0]
print(count_404)

0

In [27]:
# verifying data of http_code=404
df[df["http_code"]==404]

Empty DataFrame
Columns: [host, rfc931, authuser, timestamp, filename, http_code, bytes, request_path, file_extension, date_format]
Index: []

## Q5: Top 15 filenames with 404 responses

In [28]:
# If http_code is int, comparing with integer 404 instead of string '404'
df_404 = df[df['http_code'] == 404]

top_15_404 = df_404['filename'].value_counts().head(15)

top_15_404_list = list(top_15_404.items())

print(top_15_404_list)

[]

## Q6: Top 15 file extensions with 404 responses

In [29]:
# If http_code is int, comparing with integer 404 instead of string '404'
df_404 = df[df['http_code'] == 404]

top_15_404 = df_404['file_extension'].value_counts().head(15)

top_15_404_list = list(top_15_404.items())

print(top_15_404_list)

[]

In [30]:
df.dtypes

host                      object
rfc931                    object
authuser                  object
timestamp         datetime64[ns]
filename                  object
http_code                  int32
bytes                      int32
request_path              object
file_extension            object
date_format               object
dtype: object

## Q7: Total bandwidth transferred per day for July 1995

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666804 entries, 0 to 666803
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   host            666804 non-null  object
 1   rfc931          666804 non-null  object
 2   authuser        666804 non-null  object
 3   timestamp       666804 non-null  datetime64[ns]
 4   filename        666804 non-null  object
 5   http_code       666804 non-null  int32
 6   bytes           666804 non-null  int32
 7   request_path    666804 non-null  object
 8   file_extension  666804 non-null  object
 9   date_format     666804 non-null  object
dtypes: datetime64[ns](1), int32(2), object(7)
memory usage: 45.8+ MB

In [32]:
df[df['bytes'] == "-"]

Empty DataFrame
Columns: [host, rfc931, authuser, timestamp, filename, http_code, bytes, request_path, file_extension, date_format]
Index: []

In [33]:
# Converting timestamp column to datetime (if not already)
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

# Filtering for July 1995 only
july_1995 = df[(df['timestamp'].dt.year == 1995) & (df['timestamp'].dt.month == 7)].copy()

# Converting bytes to numeric, coercing errors (e.g. '-' to NaN)
july_1995['bytes'] = pd.to_numeric(july_1995['bytes'], errors='coerce')

# Dropping rows with missing bytes
july_1995 = july_1995.dropna(subset=['bytes'])

# Grouping by date and sum bytes
july_1995['date_str'] = july_1995['timestamp'].dt.strftime('%d-%b-%Y')
bandwidth_per_day = july_1995.groupby('date_str')['bytes'].sum().astype(int)

# Converting to dict
bandwidth_dict = bandwidth_per_day.to_dict()

bandwidth_dict

{'01-Jul-1995': 11349799,
 '02-Jul-1995': 8656918,
 '03-Jul-1995': 13596612,
 '04-Jul-1995': 26573988,
 '05-Jul-1995': 19541225,
 '06-Jul-1995': 19755015,
 '07-Jul-1995': 9427822,
 '08-Jul-1995': 5403491,
 '09-Jul-1995': 4660556,
 '10-Jul-1995': 14917754,
 '11-Jul-1995': 22507207,
 '12-Jul-1995': 17367065,
 '13-Jul-1995': 15989234,
 '14-Jul-1995': 19186430,
 '15-Jul-1995': 15773233,
 '16-Jul-1995': 9016378,
 '17-Jul-1995': 19601338,
 '18-Jul-1995': 17099761,
 '19-Jul-1995': 17851725,
 '20-Jul-1995': 20752623,
 '21-Jul-1995': 25491617,
 '22-Jul-1995': 8136259,
 '23-Jul-1995': 9593870,
 '24-Jul-1995': 22308265,
 '25-Jul-1995': 24561635,
 '26-Jul-1995': 24995540,
 '27-Jul-1995': 25969995,
 '28-Jul-1995': 36460693,
 '29-Jul-1995': 11700624,
 '30-Jul-1995': 23189598,
 '31-Jul-1995': 30730715}

## Q8: Hourly request distribution

In [34]:
# Ensuring 'timestamp' is datetime type
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

# Extracting hour from timestamp
df['hour'] = df['timestamp'].dt.hour

# Counting requests per hour
hourly_counts = df['hour'].value_counts().sort_index()

# Converting to dict
hourly_distribution = hourly_counts.to_dict()

hourly_distribution

{0: 17206,
 1: 13196,
 2: 11733,
 3: 10027,
 4: 9369,
 5: 10143,
 6: 12280,
 7: 15550,
 8: 24664,
 9: 31115,
 10: 39713,
 11: 43766,
 12: 43085,
 13: 47338,
 14: 50087,
 15: 46337,
 16: 46849,
 17: 41378,
 18: 30435,
 19: 28219,
 20: 27169,
 21: 25109,
 22: 21873,
 23: 20163}

## Q9: Top 10 most requested filenames

In [35]:
top_10_files = df['filename'].value_counts().sort_values(ascending= False).head(10)
final = list(top_10_files.items())
final

[('GET index.html HTTP/1.0', 103825),
 ('GET 3.gif HTTP/1.0', 24001),
 ('GET 2.gif HTTP/1.0', 23590),
 ('GET 4.gif HTTP/1.0', 8013),
 ('GET 244.gif HTTP/1.0', 5143),
 ('GET 5.html HTTP/1.0', 5004),
 ('GET 4097.gif HTTP/1.0', 4865),
 ('GET 8870.jpg HTTP/1.0', 4488),
 ('GET 6733.gif HTTP/1.0', 4278),
 ('GET 8472.gif HTTP/1.0', 3843)]

## Q10: HTTP response code distribution

In [36]:
code = df['http_code'].value_counts() 
count_http = dict(code.items())
count_http

{200: 568348, 304: 97792, 302: 640, 500: 22, 403: 2}